---
import { ViewTransitions } from "astro:transitions";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import "@/styles/global.css";
import DeveloperMenu from "@/components/developertools/DeveloperMenu";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{SITE_TITLE}</title>
        <meta name="description" content={SITE_DESCRIPTION} />
        <ViewTransitions />
    </head>
    <body>
        <DeveloperMenu client:load />
        <slot />
        <style>
            body {
                padding-top: env(safe-area-inset-top);
            }
        </style>
    </body>
</html>
